<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a96906.qianghongbao">

    <permission
        android:name="com.example.a96906.qianghongbao.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem" />

    <uses-permission android:name="com.example.a96906.qianghongbao.permission.MIPUSH_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/qianghongbao"
        android:label="小逗QQ抢红包"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="小逗QQ抢红包">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".QQHongbaoService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/qianghongbao_service_config"/>
        </service>
    </application>

</manifest>